html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    height: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #d4d4d4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
}

::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 8px;
    border: 3px solid #d4d4d4;
}

::-webkit-scrollbar-thumb:hover {
    background: #6c6c6c;
}

.container {
    max-width: 1530px;
    margin: 0 auto;
    padding: 0 15px;
}

/* CONTAINER */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER */
.header {
    height: 93px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 3;
    border-radius: 0 0 15px 15px;
    border-bottom: 1px solid #709dca;
}

.header_inner {
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link {
    padding: 10px 20px;
    color: #868686;
    border-radius: 5px;
    transition: color 0.2s linear;
}

.nav_link:hover {
    color: #ffbb42;
}

.nav_link.active {
    color: #fff;
    background-color: #ffbb42;
}

.title {
    text-align: center;
    color: #fff;
}

.nav_burger_icon,
.nav_burger {
    display: none;
}

/* INTRO */
.intro {
    height: 480px;
    background-color: #709dca;
    padding-top: 110px;
    color: #fff;
}

.title_title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
}

.title_subtitle {
    font-size: 16px;
    font-weight: 300;
}

.input_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 65px;
}

.input_item {
    width: 25%;
    height: 45px;
    padding: 0;
    padding-left: 15px;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
}

.input_item:focus {
    outline: 2px solid #ffbb42;
}

.input_item:last-child {
    width: 18%;
    padding: 0;
    background-color: #ffbb42;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.2s linear;
    margin: 0;
}

.input_item:last-child:hover {
    cursor: pointer;
    background-color: #ff6600;
}

::placeholder {
    font-family: FontAwesome;
    font-size: 13px;
    letter-spacing: 1px;
    color: #a9a9a9;
}

.slider {
    text-align: center;
    margin-top: 22px;
}

.slider_laptop {
    max-width: 100%;
}

.slider_inner {
    width: 93px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 10px;
}

.slider_item {
    width: 15px;
    height: 15px;
    border: 3px solid #dedfe0;
    border-radius: 50%;
    margin: 0 5px;
}

.slider_item.active {
    border: 3px solid #34b1e1;
}

/* SERVICES */
.title_dark {
    color: #394b50;
}

.services {
    margin-top: 200px;
}

.services_inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 95px;
}

.services_item {
    width: 45%;
    display: flex;
    margin-bottom: 80px;
}

.services_img {
    width: 45px;
    height: 45px;
    margin-right: 38px;
}

.services_item:last-child .services_img {
    margin-right: 58px;
}

.services_title {
    color: #394b50;
    margin: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 16px;
}

.services_text {
    color: #848484;
    line-height: 1.5;
    font-size: 13px;
}

/* ABOUT */
.about_inner {
    height: 100%;
    display: flex;
    background-color: #ffbb42;
}

.about_item {
    width: 50%;
    display: flex;
    align-items: center;
}

.about_img {
    width: 100%;
    height: 100%;
}

.about_content {
    width: 70%;
    max-width: 505px;
    margin: 30px 0 30px 80px;
    color: #fff;
    text-align: justify;
}

.about_title {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: 900;
}

.about_text {
    font-size: 13px;
    margin-bottom: 33px;
    line-height: 2;
}

.button {
    text-transform: uppercase;
    color: #fff;
    background-color: #ffbb42;
    border: 1px solid #de9921;
    width: 145px;
    height: 45px;
    transition: 0.2s linear;
}

.button:hover {
    cursor: pointer;
    color: #000;
    background-color: #fff;
}

/* PRICE */
.container_bgc {
    background-color: #e7edf3;
}

.price {
    padding: 135px 0;
}

.price_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 83px;
}

.price_item {
    width: 32%;
    padding-top: 55px;
    height: 420px;
    background-color: #fff;
    text-align: center;
    transition: 0.2s linear;
    color: #818b95;
    text-transform: uppercase;
}

.price_title {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 300;
}

.price_cost {
    color: #ffbb42;
    font-size: 60px;
    font-weight: 700;
}

.price_dollar {
    font-size: 35px;
    vertical-align: 20px;
    font-weight: 500;
}

.price_subtitle {
    font-weight: 300;
    margin-bottom: 33px;
}

.price_text {
    width: 90%;
    margin: 0 auto;
}

.price_text_item {
    color: #b5bbc1;
    font-weight: 300;
    font-size: 13.5px;
    padding: 15px 0;
    border-top: 1px solid #e2e9f0;
}

.price_button {
    margin-top: 13px;
    width: 132px;
    border: none;
    border-radius: 2px;
    transition: 0.2s linear;
}

.price_item:hover {
    background-color: #709dca;
    transform: scale(1.1);
}

.price_item:hover .price_title,
.price_item:hover .price_dollar,
.price_item:hover .price_cost,
.price_item:hover .price_subtitle,
.price_item:hover .price_text_item {
    color: #fff;
}

/* WORKS */
.works {
    padding: 135px 0;
    text-align: center;
}

.works_inner {
    display: flex;
    flex-wrap: wrap;
    margin: 80px 0;
}

.works_inner_container {
    width: 50%;
    display: flex;
}

.works_item {
    width: 50%;
    padding-top: 65px;
    position: relative;
}

.works_arrow_1,
.works_arrow_reverse,
.works_arrow_2 {
    position: absolute;
    left: 73%;
    width: 55%;
}

.works_arrow_1,
.works_arrow_2 {
    top: 0;
}

.works_arrow_reverse {
    top: 150px;
}

.works_logo {
    height: 63px;
    padding-bottom: 100px;
}

.works_title {
    text-transform: uppercase;
    color: #394b50;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 28px;
}

.works_text {
    color: #7b7b7b;
    width: 85%;
    margin: 0 auto;
    font-size: 13px;
}

.works_button {
    border: none;
    border-radius: 2px;
}

.works_button:hover {
    color: #fff;
    background-color: #ff6600;
}

/* CLIENTS */
.clients {
    background-color: #ffbb42;
    padding: 135px 0;
}

.clients_inner {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.clients_item {
    width: 49%;
    height: auto;
    background-color: #fff;
    margin-bottom: 20px;
}

.clients_item_inner {
    display: flex;
    margin: 0 auto;
    padding: 30px;
}

.clients_img {
    width: 121px;
    height: 121px;
    margin-right: 25px;
}

.clients_review {
    font-size: 13px;
    color: #a4a4a4;
    margin-bottom: 25px;
    line-height: 2;
}

.clients_author {
    text-transform: uppercase;
    color: #f78d58;
    font-size: 14px;
}

.clients_author_grey {
    color: #c6ced1;
}

/* FOOTER */
.footer {
    padding-top: 135px;
    text-align: center;
}

.footer_inner {
    margin: 40px 0;
}

.input_footer {
    width: 90%;
    margin: 0 auto;
}

.input_item_footer {
    width: 40%;
    margin-right: 10px;
    height: 43px;
    border: 1px solid #cbcbcb;
}

.input_item_footer:last-child {
    height: 45px;
    width: 20%;
    border: 0;
}

.address {
    margin: 100px 0;
    background: url(../images/Map.png) center no-repeat;
    background-size: contain;
    min-height: 600px;
    padding-top: 50px;
    position: relative;
}

.address_circle {
    width: 280px;
    height: 280px;
    background-color: #394b50;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 41px;
    display: flex;
    align-items: center;
}

.address_circle_inner {
    margin: 0 auto;
}

.address_title {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
}

.address_text {
    font-size: 15px;
    color: #aeb7ba;
    line-height: 2;
}

.address_email {
    color: #ffbb42;
}

.after_circle {
    position: absolute;
    top: 57%;
    left: 49%;
}

.address_logo {
    position: absolute;
    top: 60%;
    left: 48%;
}

.footer_nav {
    justify-content: center;
    margin: 25px 0;
}

.footer_nav a {
    color: #394b50;
}

.footer_phone {
    font-size: 22.5px;
    color: #394b50;
}

.footer_icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.footer_item {
    margin: 0 5px;
    color: #709dca;
}

.footer_end {
    background-color: #709dca;
    color: #fff;
    font-weight: 300;
    padding: 15px 0;
}

@media (max-width: 1024px) {
    /* HEADER */
    .nav {
        font-size: 13px;
    }

    .nav_link {
        padding: 10px 12px;
    }

    /* INTRO */

    /* SERVICES */
    .services_img {
        margin-right: 20px;
    }

    .services_item:last-child .services_img {
        margin-right: 33px;
    }

    /* ABOUT */
    .about_content {
        width: 88%;
        margin: 30px auto;
    }

    /* PRICE */
    /* СДЕЛАТЬ СЛАЙДЕР */
    .price {
        padding: 80px 0;
    }

    /* WORKS */
    .works {
        padding: 80px 0;
    }

    /* CLIENTS */
    .clients {
        padding: 80px 0;
    }

    .clients_inner {
        display: block;
    }

    .clients_item {
        width: 100%;
    }

    .clients_item_inner {
        padding: 20px;
    }

    /* FOOTER */
    .footer {
        padding-top: 80px;
    }

    .address {
        display: flex;
        align-items: center;
        min-height: 0;
        padding: 0;
        margin-top: 50px;
        margin-bottom: 0;
    }

    .address_circle {
        margin-top: 0;
    }

    .after_circle,
    .address_logo {
        display: none;
    }
}

@media (max-width: 768px) {
    /* HEADER */
    .header,
    .header_inner {
        height: 70px;
    }

    .nav {
        display: none;
    }

    .nav_burger_icon {
        display: block;
        padding: 15px;
    }

    .icon_line {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #ffbb42;
        transition: 0.3s;
    }

    .icon_line:nth-child(2) {
        margin: 6px 0;
    }

    .nav_burger {
        position: fixed;
        top: 70px;
        left: -100%;
        width: 50%;
        height: 100%;
        background-color: #8db6e1;
        z-index: 100;
        display: flex;
        transition: 0.3s;
        overflow: auto;
        border-right: 1px solid #ffbb42;
    }

    .nav_burger.open {
        left: 0;
    }

    .nav_burger .nav {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
    }

    .nav_burger .nav > a {
        width: 100%;
        text-align: center;
        font-size: 20px;
        color: #fff;
        border-bottom: 1px solid #fff;
    }

    .nav_burger .nav > a:hover {
        background-color: #659fdd;
    }

    .nav_burger_icon.active .icon_line:nth-child(2) {
        opacity: 0;
    }

    .nav_burger_icon.active .icon_line:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .nav_burger_icon.active .icon_line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* INTRO */
    .intro {
        padding-top: 80px;
    }

    .input_info {
        display: block;
        text-align: center;
    }

    .input_item:nth-child(2) {
        margin-bottom: 10px;
    }

    .input_item:last-child {
        width: 27%;
    }

    .slider_laptop {
        max-width: 80%;
    }

    /* SERVICES */
    .services {
        margin-top: 150px;
    }

    .services_inner {
        display: block;
    }

    .services_item {
        width: 100%;
        margin-bottom: 50px;
    }

    /* ABOUT */
    .about_inner {
        display: block;
    }

    .about_item {
        width: 100%;
    }

    .about_content {
        max-width: none;
    }

    /* PRICE */
    /* WORKS */
    .works_inner {
        display: block;
    }

    .works_inner_container {
        width: 100%;
        margin-bottom: 50px;
    }

    .works_item {
        padding: 0;
    }

    .works_logo {
        padding-bottom: 30px;
    }

    .works_arrow_1,
    .works_arrow_reverse,
    .works_arrow_2 {
        display: none;
    }

    /* CLIENTS */

    /* FOOTER */
    .footer_nav {
        display: none;
    }

    .footer_phone {
        display: none;
    }
}

@media (max-width: 425px) {
    /* HEADER */
    .header,
    .header_inner {
        height: 55px;
    }

    .nav_burger {
        top: 55px;
        width: 70%;
    }

    /* INTRO */
    .intro {
        height: auto;
        padding: 50px 0;
    }

    .input_info {
        margin-bottom: 0;
    }

    .input_item {
        width: 93%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .input_item:last-child {
        width: 70%;
    }

    .slider {
        display: none;
    }

    /* SERVICES */
    .services {
        padding: 50px 0;
        margin-top: 0;
    }

    .services_inner {
        margin-top: 50px;
    }

    .services_item:last-child {
        margin-bottom: 0;
    }

    .services_img {
        width: 35px;
        height: 35px;
    }

    /* ABOUT */
    .about_item:first-child {
        display: none;
    }

    /* PRICE */

    /* WORKS */
    .works {
        padding: 50px 0;
    }

    .works_inner {
        margin: 50px 0;
    }

    .works_logo {
        height: 45px;
    }

    /* CLIENTS */
    .clients {
        padding: 50px 0;
    }

    .clients_item_inner {
        display: block;
        text-align: center;
    }

    .clients_item:last-child {
        margin-bottom: 0;
    }

    .clients_img {
        margin-right: 0;
    }

    /* FOOTER */
    .footer {
        padding-top: 50px;
    }

    .footer_icons {
        margin: 30px 0;
    }
}
